@use './reset.scss';
@use './variables.scss' as variables;

.handle-scroll {
    @include variables.container(center);
    height: 100vh;
    flex-direction: column;
    scroll-snap-align: start;
}
    
.header{
    @include variables.container(space-between);
    padding: 20px;
    padding-top: 60px;
    width: 1460px;
    margin: 0 auto;

    &__actions {
        @include variables.container-gap(20px);
        position: relative;
    }

    &__link {
        text-decoration: none;
        color: variables.$gray;
        font-size: variables.$font-size-small;
        font-weight: 500;

        &:hover {
            color: variables.$black;
        }
    }

    &__button {
        background-color: variables.$white;
        color: variables.$black;
        padding: 6px 16px;
        border-radius: 5px;
        font-size: variables.$font-size-small;
        font-weight: 500;
        text-decoration: none;

        &:hover {
            background-color: variables.$hover-gray;
            transition: 0.3s;
        }
    }

    &__language-selector {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border: 1px solid variables.$gray;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        gap: 5px;
      }
    
      &__language--icon {
        display: flex;
        align-items: center;
      }
    
      &__language-menu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: variables.$white;
        border: 1px solid variables.$gray;
        border-radius: 5px;
        margin-top: 5px;
        width: fit-content;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
    
      &__language--list {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    
      &__language--item {
        padding: 8px 10px;
        border-bottom: 1px solid variables.$gray;
    
        &:last-child {
          border-bottom: none;
        }
    
        a {
          text-decoration: none;
          color: variables.$black;
          font-size: variables.$font-size-small;
          display: block;
    
          &:hover {
            color: variables.$gray;
          }
        }
      }
    }      

  
.menu {
    @include variables.container; 
    align-items: start;
    list-style: none; 
    padding: 0;
    margin: 0;
    gap: 45px;

    &__item {
      a {
        text-decoration: none;
        color: variables.$gray;
        font-size: variables.$font-size-small;
        font-weight: 500;

        img {
            margin-right: 20px;
        }
      }

        &:hover {
            a {
            color: variables.$black;
            }
        }
    }


}

.hero {
    width: 1460px;
    padding: 20px;
    margin: 0 auto;


    &__content {
        @include variables.grid-container(1fr 1fr, 100px);
        align-items: center;
    }

    &__title {
        font-size: variables.$font-size-xxlarge;;
        font-weight: 700;
        color: variables.$black;
    }

    &__text {
        font-size: variables.$font-size-large;
        font-weight: 500;
        color: variables.$gray;
        margin-bottom: 40px;
        text-wrap: balance;
        line-height: 32px;
    }

    &__image {
        width: 550px;
    }

    &__scroll {
        @include variables.container-gap(5px);
        justify-content: center;
        margin-bottom: 40px;

        div {
            @include variables.container();
            flex-direction: column;
            gap: 5px;
            justify-content: center;
        }

        small {
            font-size: variables.$font-size-small;
            font-weight: 500;
            color: variables.$gray;
        }
    }
}
  
.container {
    width: 1470px;
    height: calc(100% - 6.5%);
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    
    
    &__video {
        width: 100%;
        position: absolute;
        top: -70px;
        object-fit: cover;
        z-index: -1;

        &--macbook {
            -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.3) 100%);
            mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.3) 100%);
            -webkit-mask-size: cover;
            mask-size: cover;
            
        }
        
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: 80px;
    }

    &__title {
        font-size: variables.$font-size-xlarge;
        font-weight: 700;

        
        &--white {
            color: variables.$white;
        } 

        &--black {
            color: variables.$black;
            display: flex;
            flex-direction: column;
            line-height: 75px;
        }
    }

    &__subtitle {
        font-size: variables.$font-size-large;
        font-weight: 500;
        color: variables.$white;
        margin-bottom: 40px;
        width: 50%;
        text-wrap: pretty;
        line-height: 32px;

        &--white {
            color: variables.$white;
          }
      
          &--black {
            color: variables.$black;
          }
      
          &--gray {
            width: 45%;
            color: variables.$gray;
          }
    }

    &__buttons {
        @include variables.container-gap(10px);
    }

    &__button {
        border-radius: 10px;
        font-size: variables.$font-size-medium;
        font-weight: 500;
        text-decoration: none;
        
        &--white {
            background-color: variables.$white;
            color: variables.$black;
            padding: 12px 22px;
            width: fit-content;
      
            &:hover {
              background-color: variables.$hover-gray;
              transition: 0.3s;
            }
          }
      
          &--black {
            padding: 12px 20px;
            background-color: variables.$black;
            color: variables.$white;
      
            &:hover {
              background-color: variables.$hover-black;
              transition: 0.3s;
            }
          }

        &--no-color {
            padding: 12px 20px;
            background-color: transparent;
            color: variables.$gray;
            border: 1px solid variables.$gray;

            &:hover {
                color: variables.$black;
                border: 1px solid variables.$black;
                transition: 0.3s;
              }
        }

    }

    &__download {
        @include variables.container(center);
        align-items: flex-start;
        flex-direction: column;
        margin-top: 80px;

        
        img {
            width: 180px;

            &:hover {
                transition: 0.3s;
                box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.1);
            }
        }

        p {
            font-size: 19px;
            font-weight: 500;
            color: variables.$white;
            padding: 20px 0;

        }

        div {
            display: flex;
            gap: 15px;
        }
    }
}	

.section {
    @include variables.container(center);
    height: 100vh;
    margin-top: 50px;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        align-items: center ;
        justify-content: center;
        

        max-width: 1450px;
        width: 100%;
        margin: 0 auto; 

        &--wrapper {
            width: 723.6px;
            height: 408px;
            overflow: hidden; 
            position: relative; 
            border-radius: 15px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.02);
            }
    
            video {
                width: 100%; 
                height: 100%; 
                object-fit: cover; 
                position: absolute;
                top: 0;
                left: 0;

            }
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.188);
                z-index: 1;
            }
    
            h2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: variables.$white;
                font-size: 35px;
                text-align: center;
                z-index: 2; 
                width: 90%;
                line-height: 1.2;
            }
        }
    }
}

.footer {
        width: 100%;
        max-width: 1470px;
        height: 100%;
        margin: 0 auto;
        padding: 30px 30px;
        background-color: #f9f9f9;
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr 1fr;

        &__logo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                font-size: variables.$font-size-small;
                color: variables.$light-gray;
              }

            img {
                width: 120px;
            }
        }

        &__title {
            font-size: 12px;
            font-weight: 700;
            color: rgb(56, 56, 56);
            margin-bottom: 20px;
        }

        &__menu {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                line-height: 14px;
                a {
                    color: variables.$light-gray;
                    text-decoration: none;
                    font-size: variables.$font-size-small;
                    

                    &:hover {
                        color: variables.$gray;
                    }
                }
            }

            &--buttons {
                gap: 2px;
            }

            

        }
        
        &__button {
            width: 140px;
        }

        &__social {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: repeat(2, auto);  

            li {
                display: flex;
                align-items: center;
                font-size: variables.$font-size-small;
                color: variables.$light-gray;
                cursor: pointer;

                &:hover {
                    color: variables.$gray;
                }
            }
            img {
                width: 25px;
                color: variables.$light-gray;

                &:hover {
                    transition: 0.3s;
                    transform: scale(1.1);
                }
            }
        }
    }


.shake-vertical {
    animation: shake-vertical 1.0s ease-in-out infinite; 
  }
  
@keyframes shake-vertical {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-4px); 
    }
}

